{% extends 'taskapp/common/base.html'%}
{% load static %}

{% block content%}
    <header class="masthead" style="background-image:url('../../static/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>NOTE-IT</h1><span class="subheading"><strong><span style="color: rgb(32, 33, 36);">Write, plan, collaborate, and get organized</span></strong></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="post-preview"><a href="#">
                        <h2 class="post-title"><span style="color: var(--text-color-medium);">We’re more than a doc. Or a table. Customize Note-it to work the way you do.</span></h2>
                        <h2 class="post-subtitle"><strong><span style="color: rgb(17, 17, 17);">One workspace.&nbsp;Every team.</span></strong></h2>
                    </a></div>
                <hr>
                <div class="post-preview"><a href="#">
                        <h4 class="post-title"><span style="font-weight: normal !important; color: rgb(0, 133, 161);">Get inspiration from thousands of community-made templates, integrations, and events.You'll never want for resources or support.</span></h4>
                    </a></div>
                <hr>
                <div class="post-preview"><a href="#">
                        <h2 class="post-title">Achieve your goals</h2>
                        <h4 class="post-subtitle"><span style="color: rgb(32, 33, 36);">If you are able to create an effective motivational system for yourself, you will be less likely to procrastinate, and more likely to finish your most important work each day.</span><br></h4>
                    </a></div>
                <hr>
                <div class="post-preview"><a href="#">
                        <h2 class="post-title">Stay on Track!</h2>
                        <h3 class="post-subtitle"></h3>
                    </a></div>
                <hr>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{%  endblock %}